<style>
  .signup-form-section__header--container.expanded svg {transform: rotate(180deg);}

.signup-form-section__header--container:not(.expanded) svg {
    transform: rotate(0deg);
}

.signup-form-section__header--container:not(.expanded) + div {
    display: none;
}

  </style>
<div class="login">
  <div class="login__brand">
    <h1 class="login__logo">
      <img alt="sunday hug" itemprop="logo" src="{{ section.settings.image_logo | img_url: 'master' }}">
    </h1>
  </div>
  <div id="AccountSignupPage" data-define="{ accountSignupPage: new AccountSignupPage() }" class="account-signup__content">
    <div class="signup__content copy">
      <p> {{ section.settings.description_form }} </p>
    </div>
{% comment %}     <form class="login__form" id="new_account" action="/accounts" accept-charset="UTF-8" method="post"> {% endcomment %}
{% form 'contact' %}
      <input type="hidden" name="authenticity_token" value="iK-tfmV_Puz-zxpEgXkRM1gKAsdv-Cx4RLsa0vLRWIOGI9h_CiVzqurOH1bpM8763Jrj_v10EmNJux39iaB-aw" autocomplete="off">
      <div id="AccountSignupForm">

        
        {% for block in section.blocks %}
          {% if block.type == 'contactdetails' %}
        <div id="DetailsSection" class="signup-form-section">
          <div class="signup-form-section__header--container expanded">
            <div class="signup-form-section__header">
              <div class="signup-form-section__header--valid-icon">
                <div>
                  <svg width="20px" height="20px" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <title>Polaris-icon/Major/2 Tone/Circle Tick</title>
                    <desc>Created with Sketch.</desc>
                    <defs>
                      <path d="M10,0 C4.486,0 0,4.486 0,10 C0,15.514 4.486,20 10,20 C15.514,20 20,15.514 20,10 C20,4.486 15.514,0 10,0 M10,18 C5.589,18 2,14.411 2,10 C2,5.589 5.589,2 10,2 C14.411,2 18,5.589 18,10 C18,14.411 14.411,18 10,18 M12.293,7.293 L9,10.586 L7.707,9.293 C7.316,8.902 6.684,8.902 6.293,9.293 C5.902,9.684 5.902,10.316 6.293,10.707 L8.293,12.707 C8.488,12.902 8.744,13 9,13 C9.256,13 9.512,12.902 9.707,12.707 L13.707,8.707 C14.098,8.316 14.098,7.684 13.707,7.293 C13.316,6.902 12.684,6.902 12.293,7.293"></path>
                    </defs>
                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                      <circle fill="{fillColor}" cx="10" cy="10" r="9"></circle>
                      <g>
                        <mask fill="white">
                          <use xlink:href="#path-1"></use>
                        </mask>
                        <use fill="#d8d8d8" xlink:href="#path-1"></use>
                        <g mask="url(#mask-2)"></g>
                      </g>
                    </g>
                  </svg>
                </div>
              </div>
              <div class="signup-form-section__header--label">{{ block.settings.contactdet_header }}</div>
              <div class="signup-form-section__header--collapse-icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" class="material material-chevron-down-icon undefined">
                  <path d="M7.41 8.58L12 13.17l4.59-4.59L18 10l-6 6-6-6 1.41-1.42z"></path>
                </svg>
              </div>
            </div>
          </div>
          <div class="signup-form-section__fields">
            <div class="field-group">
              <label class="field-label" for="account_first_name">{{ block.settings.contactdet_label1head }}</label>
              <input  name="contact[first_name]" 
                autofocus="autofocus" class="textfield textfield--has-error"
                  size="30" type="text" name="account[first_name]" id="account_first_name">
              <label class="field-label field-label--has-error">First name is required</label>
            </div>
            <div class="field-group">
              <label class="field-label" for="account_last_name">{{ block.settings.contactdet_label2head }}</label>
              <input autofocus="autofocus" name="contact[first_name]"
                class="textfield" size="30" type="text"  id="account_last_name">
            </div>
            <div class="field-group">
              <label class="field-label" for="account_email">{{ block.settings.contactdet_label3head }}</label>
              <input autofocus="autofocus" class="textfield email" 
               size="30" type="email" value="" name="contact[email]" id="account_email">
            </div>
          </div>
        </div>
            {% endif %}
          {% endfor %}

{% for block in section.blocks %}
  {% if block.type == 'businessaddress' %}
        <div id="AddressSection" class="signup-form-section " data-bind-class="{'signup-form-section--active': accountSignupPage.isSectionActive('address')}" data-signup-section-name="address">
          <div class="signup-form-section__header--container">
            <div class="signup-form-section__header">
              <div class="signup-form-section__header--valid-icon">
                <div>
                  <svg width="20px" height="20px" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <title>Polaris-icon/Major/2 Tone/Circle Tick</title>
                    <desc>Created with Sketch.</desc>
                    <defs>
                      <path d="M10,0 C4.486,0 0,4.486 0,10 C0,15.514 4.486,20 10,20 C15.514,20 20,15.514 20,10 C20,4.486 15.514,0 10,0 M10,18 C5.589,18 2,14.411 2,10 C2,5.589 5.589,2 10,2 C14.411,2 18,5.589 18,10 C18,14.411 14.411,18 10,18 M12.293,7.293 L9,10.586 L7.707,9.293 C7.316,8.902 6.684,8.902 6.293,9.293 C5.902,9.684 5.902,10.316 6.293,10.707 L8.293,12.707 C8.488,12.902 8.744,13 9,13 C9.256,13 9.512,12.902 9.707,12.707 L13.707,8.707 C14.098,8.316 14.098,7.684 13.707,7.293 C13.316,6.902 12.684,6.902 12.293,7.293"></path>
                    </defs>
                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                      <circle fill="{fillColor}" cx="10" cy="10" r="9"></circle>
                      <g>
                        <mask fill="white">
                          <use xlink:href="#path-1"></use>
                        </mask>
                        <use fill="#d8d8d8" xlink:href="#path-1"></use>
                        <g mask="url(#mask-2)"></g>
                      </g>
                    </g>
                  </svg>
                </div>
              </div>
              <div class="signup-form-section__header--label">{{ block.settings.busadd_header }}</div>
              <div class="signup-form-section__header--collapse-icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" class="material material-chevron-down-icon undefined">
                  <path d="M7.41 8.58L12 13.17l4.59-4.59L18 10l-6 6-6-6 1.41-1.42z"></path>
                </svg>
              </div>
            </div>
          </div>
          <div class="signup-form-section__fields ">
            <div>
              <div class="field-group">
                <div>
                  <label for="ShippingCompany" class="field-label">
                    <span>{{ block.settings.busadd_label1head }}</span>&nbsp; <label for="ShippingCompany" class="field-label field-label--help">(optional)</label>
                  </label>
                  <input id="ShippingCompany" 
    type="text" name="contact[Company Name]" class="textfield undefined" value="">
                </div>
              </div>
              <div class="field-group">
                <div>
                  <label for="ShippingAddress1" class="field-label">
                    <span>{{ block.settings.busadd_label2head }}</span>&nbsp; </label>
                  <input id="ShippingAddress1" type="text"
    name="contact[Company address1]" class="textfield undefined" data-error-required="Address line 1 is required" value="">
                </div>
              </div>
              <div class="field-group">
                <div>
                  <label for="ShippingAddress2" class="field-label">
                    <span>{{ block.settings.busadd_label3head }}</span>&nbsp; <label for="ShippingAddress2" class="field-label field-label--help">(optional)</label>
                  </label>
                  <input id="ShippingAddress2" 
                    type="text" name="contact[Company address2]" class="textfield undefined" value="">
                </div>
              </div>
              <div class="field-group">
                <div>
                  <label for="ShippingCity" class="field-label">
                    <span>{{ block.settings.busadd_label4head }}</span>&nbsp; </label>
                  <input id="ShippingCity" type="text" 
                    name="contact[Company city]" class="textfield undefined" data-error-required="City is required" value="">
                </div>
              </div>
              <div class="field-group">
                <div>
                  <div>
                    <label for="ShippingCountry" class="field-label">{{ block.settings.busadd_label5head }}</label>
                  </div>
                  <select id="ShippingCountry" name="contact[Company shipping country]" class="" data-error-required="Country is required">
                    <option value="">Select...</option>
                    <option value="Canada">Canada</option>
                    <option value="United States">United States</option>
                    <option value="United Kingdom">United Kingdom</option>
                    <option value="Afghanistan">Afghanistan</option>
                    <option value="Aland Islands">Aland Islands</option>
                    <option value="Albania">Albania</option>
                    <option value="Algeria">Algeria</option>
                    <option value="Andorra">Andorra</option>
                    <option value="Angola">Angola</option>
                    <option value="Anguilla">Anguilla</option>
                    <option value="Antigua And Barbuda">Antigua And Barbuda</option>
                    <option value="Argentina">Argentina</option>
                    <option value="Armenia">Armenia</option>
                    <option value="Aruba">Aruba</option>
                    <option value="Australia">Australia</option>
                    <option value="Austria">Austria</option>
                    <option value="Azerbaijan">Azerbaijan</option>
                    <option value="Bahamas">Bahamas</option>
                    <option value="Bahrain">Bahrain</option>
                    <option value="Bangladesh">Bangladesh</option>
                    <option value="Barbados">Barbados</option>
                    <option value="Belarus">Belarus</option>
                    <option value="Belgium">Belgium</option>
                    <option value="Belize">Belize</option>
                    <option value="Benin">Benin</option>
                    <option value="Bermuda">Bermuda</option>
                    <option value="Bhutan">Bhutan</option>
                    <option value="Bolivia">Bolivia</option>
                    <option value="Bosnia And Herzegovina">Bosnia And Herzegovina</option>
                    <option value="Botswana">Botswana</option>
                    <option value="Bouvet Island">Bouvet Island</option>
                    <option value="Brazil">Brazil</option>
                    <option value="British Indian Ocean Territory">British Indian Ocean Territory</option>
                    <option value="Brunei">Brunei</option>
                    <option value="Bulgaria">Bulgaria</option>
                    <option value="Burkina Faso">Burkina Faso</option>
                    <option value="Burundi">Burundi</option>
                    <option value="Cambodia">Cambodia</option>
                    <option value="Cape Verde">Cape Verde</option>
                    <option value="Caribbean Netherlands">Caribbean Netherlands</option>
                    <option value="Cayman Islands">Cayman Islands</option>
                    <option value="Central African Republic">Central African Republic</option>
                    <option value="Chad">Chad</option>
                    <option value="Chile">Chile</option>
                    <option value="China">China</option>
                    <option value="Christmas Island">Christmas Island</option>
                    <option value="Cocos (Keeling) Islands">Cocos (Keeling) Islands</option>
                    <option value="Colombia">Colombia</option>
                    <option value="Comoros">Comoros</option>
                    <option value="Congo">Congo</option>
                    <option value="Congo, The Democratic Republic Of The">Congo, The Democratic Republic Of The</option>
                    <option value="Cook Islands">Cook Islands</option>
                    <option value="Costa Rica">Costa Rica</option>
                    <option value="Croatia">Croatia</option>
                    <option value="Cuba">Cuba</option>
                    <option value="Curaçao">Curaçao</option>
                    <option value="Cyprus">Cyprus</option>
                    <option value="Czech Republic">Czech Republic</option>
                    <option value="Côte d'Ivoire">Côte d'Ivoire</option>
                    <option value="Denmark">Denmark</option>
                    <option value="Djibouti">Djibouti</option>
                    <option value="Dominica">Dominica</option>
                    <option value="Dominican Republic">Dominican Republic</option>
                    <option value="Ecuador">Ecuador</option>
                    <option value="Egypt">Egypt</option>
                    <option value="El Salvador">El Salvador</option>
                    <option value="Equatorial Guinea">Equatorial Guinea</option>
                    <option value="Eritrea">Eritrea</option>
                    <option value="Estonia">Estonia</option>
                    <option value="Eswatini">Eswatini</option>
                    <option value="Ethiopia">Ethiopia</option>
                    <option value="Falkland Islands (Malvinas)">Falkland Islands (Malvinas)</option>
                    <option value="Faroe Islands">Faroe Islands</option>
                    <option value="Fiji">Fiji</option>
                    <option value="Finland">Finland</option>
                    <option value="France">France</option>
                    <option value="French Guiana">French Guiana</option>
                    <option value="French Polynesia">French Polynesia</option>
                    <option value="French Southern Territories">French Southern Territories</option>
                    <option value="Gabon">Gabon</option>
                    <option value="Gambia">Gambia</option>
                    <option value="Georgia">Georgia</option>
                    <option value="Germany">Germany</option>
                    <option value="Ghana">Ghana</option>
                    <option value="Gibraltar">Gibraltar</option>
                    <option value="Greece">Greece</option>
                    <option value="Greenland">Greenland</option>
                    <option value="Grenada">Grenada</option>
                    <option value="Guadeloupe">Guadeloupe</option>
                    <option value="Guatemala">Guatemala</option>
                    <option value="Guernsey">Guernsey</option>
                    <option value="Guinea">Guinea</option>
                    <option value="Guinea Bissau">Guinea Bissau</option>
                    <option value="Guyana">Guyana</option>
                    <option value="Haiti">Haiti</option>
                    <option value="Heard Island And Mcdonald Islands">Heard Island And Mcdonald Islands</option>
                    <option value="Holy See (Vatican City State)">Holy See (Vatican City State)</option>
                    <option value="Honduras">Honduras</option>
                    <option value="Hong Kong">Hong Kong</option>
                    <option value="Hungary">Hungary</option>
                    <option value="Iceland">Iceland</option>
                    <option value="India">India</option>
                    <option value="Indonesia">Indonesia</option>
                    <option value="Iran, Islamic Republic Of">Iran, Islamic Republic Of</option>
                    <option value="Iraq">Iraq</option>
                    <option value="Ireland">Ireland</option>
                    <option value="Isle Of Man">Isle Of Man</option>
                    <option value="Israel">Israel</option>
                    <option value="Italy">Italy</option>
                    <option value="Jamaica">Jamaica</option>
                    <option value="Japan">Japan</option>
                    <option value="Jersey">Jersey</option>
                    <option value="Jordan">Jordan</option>
                    <option value="Kazakhstan">Kazakhstan</option>
                    <option value="Kenya">Kenya</option>
                    <option value="Kiribati">Kiribati</option>
                    <option value="Korea, Democratic People's Republic Of">Korea, Democratic People's Republic Of</option>
                    <option value="Kosovo">Kosovo</option>
                    <option value="Kuwait">Kuwait</option>
                    <option value="Kyrgyzstan">Kyrgyzstan</option>
                    <option value="Lao People's Democratic Republic">Lao People's Democratic Republic</option>
                    <option value="Latvia">Latvia</option>
                    <option value="Lebanon">Lebanon</option>
                    <option value="Lesotho">Lesotho</option>
                    <option value="Liberia">Liberia</option>
                    <option value="Libyan Arab Jamahiriya">Libyan Arab Jamahiriya</option>
                    <option value="Liechtenstein">Liechtenstein</option>
                    <option value="Lithuania">Lithuania</option>
                    <option value="Luxembourg">Luxembourg</option>
                    <option value="Macao">Macao</option>
                    <option value="Madagascar">Madagascar</option>
                    <option value="Malawi">Malawi</option>
                    <option value="Malaysia">Malaysia</option>
                    <option value="Maldives">Maldives</option>
                    <option value="Mali">Mali</option>
                    <option value="Malta">Malta</option>
                    <option value="Martinique">Martinique</option>
                    <option value="Mauritania">Mauritania</option>
                    <option value="Mauritius">Mauritius</option>
                    <option value="Mayotte">Mayotte</option>
                    <option value="Mexico">Mexico</option>
                    <option value="Moldova, Republic of">Moldova, Republic of</option>
                    <option value="Monaco">Monaco</option>
                    <option value="Mongolia">Mongolia</option>
                    <option value="Montenegro">Montenegro</option>
                    <option value="Montserrat">Montserrat</option>
                    <option value="Morocco">Morocco</option>
                    <option value="Mozambique">Mozambique</option>
                    <option value="Myanmar">Myanmar</option>
                    <option value="Namibia">Namibia</option>
                    <option value="Nauru">Nauru</option>
                    <option value="Nepal">Nepal</option>
                    <option value="Netherlands">Netherlands</option>
                    <option value="Netherlands Antilles">Netherlands Antilles</option>
                    <option value="New Caledonia">New Caledonia</option>
                    <option value="New Zealand">New Zealand</option>
                    <option value="Nicaragua">Nicaragua</option>
                    <option value="Niger">Niger</option>
                    <option value="Nigeria">Nigeria</option>
                    <option value="Niue">Niue</option>
                    <option value="Norfolk Island">Norfolk Island</option>
                    <option value="North Macedonia">North Macedonia</option>
                    <option value="Norway">Norway</option>
                    <option value="Oman">Oman</option>
                    <option value="Pakistan">Pakistan</option>
                    <option value="Palestinian Territory, Occupied">Palestinian Territory, Occupied</option>
                    <option value="Panama">Panama</option>
                    <option value="Papua New Guinea">Papua New Guinea</option>
                    <option value="Paraguay">Paraguay</option>
                    <option value="Peru">Peru</option>
                    <option value="Philippines">Philippines</option>
                    <option value="Pitcairn">Pitcairn</option>
                    <option value="Poland">Poland</option>
                    <option value="Portugal">Portugal</option>
                    <option value="Qatar">Qatar</option>
                    <option value="Republic of Cameroon">Republic of Cameroon</option>
                    <option value="Reunion">Reunion</option>
                    <option value="Romania">Romania</option>
                    <option value="Russia">Russia</option>
                    <option value="Rwanda">Rwanda</option>
                    <option value="Saint Barthélemy">Saint Barthélemy</option>
                    <option value="Saint Helena">Saint Helena</option>
                    <option value="Saint Kitts And Nevis">Saint Kitts And Nevis</option>
                    <option value="Saint Lucia">Saint Lucia</option>
                    <option value="Saint Martin">Saint Martin</option>
                    <option value="Saint Pierre And Miquelon">Saint Pierre And Miquelon</option>
                    <option value="Samoa">Samoa</option>
                    <option value="San Marino">San Marino</option>
                    <option value="Sao Tome And Principe">Sao Tome And Principe</option>
                    <option value="Saudi Arabia">Saudi Arabia</option>
                    <option value="Senegal">Senegal</option>
                    <option value="Serbia">Serbia</option>
                    <option value="Seychelles">Seychelles</option>
                    <option value="Sierra Leone">Sierra Leone</option>
                    <option value="Singapore">Singapore</option>
                    <option value="Sint Maarten">Sint Maarten</option>
                    <option value="Slovakia">Slovakia</option>
                    <option value="Slovenia">Slovenia</option>
                    <option value="Solomon Islands">Solomon Islands</option>
                    <option value="Somalia">Somalia</option>
                    <option value="South Africa">South Africa</option>
                    <option value="South Georgia And The South Sandwich Islands">South Georgia And The South Sandwich Islands</option>
                    <option value="South Korea">South Korea</option>
                    <option value="South Sudan">South Sudan</option>
                    <option value="Spain">Spain</option>
                    <option value="Sri Lanka">Sri Lanka</option>
                    <option value="St. Vincent">St. Vincent</option>
                    <option value="Sudan">Sudan</option>
                    <option value="Suriname">Suriname</option>
                    <option value="Svalbard And Jan Mayen">Svalbard And Jan Mayen</option>
                    <option value="Sweden">Sweden</option>
                    <option value="Switzerland">Switzerland</option>
                    <option value="Syria">Syria</option>
                    <option value="Taiwan">Taiwan</option>
                    <option value="Tajikistan">Tajikistan</option>
                    <option value="Tanzania, United Republic Of">Tanzania, United Republic Of</option>
                    <option value="Thailand">Thailand</option>
                    <option value="Timor Leste">Timor Leste</option>
                    <option value="Togo">Togo</option>
                    <option value="Tokelau">Tokelau</option>
                    <option value="Tonga">Tonga</option>
                    <option value="Trinidad and Tobago">Trinidad and Tobago</option>
                    <option value="Tunisia">Tunisia</option>
                    <option value="Turkey">Turkey</option>
                    <option value="Turkmenistan">Turkmenistan</option>
                    <option value="Turks and Caicos Islands">Turks and Caicos Islands</option>
                    <option value="Tuvalu">Tuvalu</option>
                    <option value="Uganda">Uganda</option>
                    <option value="Ukraine">Ukraine</option>
                    <option value="United Arab Emirates">United Arab Emirates</option>
                    <option value="United States Minor Outlying Islands">United States Minor Outlying Islands</option>
                    <option value="Uruguay">Uruguay</option>
                    <option value="Uzbekistan">Uzbekistan</option>
                    <option value="Vanuatu">Vanuatu</option>
                    <option value="Venezuela">Venezuela</option>
                    <option value="Vietnam">Vietnam</option>
                    <option value="Virgin Islands, British">Virgin Islands, British</option>
                    <option value="Wallis And Futuna">Wallis And Futuna</option>
                    <option value="Western Sahara">Western Sahara</option>
                    <option value="Yemen">Yemen</option>
                    <option value="Zambia">Zambia</option>
                    <option value="Zimbabwe">Zimbabwe</option>
                  </select>
                  <div></div>
                </div>
              </div>
              <div class="grid">
                <div class="grid__item medium-up--one-half">
                  <div class="field-group">
                    <div>
                      <div>
                        <div>
                          <label for="ShippingState" class="field-label">
                            <span>{{ block.settings.busadd_label6head }}</span>&nbsp; </label>
                        </div>
                        <input id="ShippingState" name="contact[Company province]" class="textfield " type="text" value="">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="grid__item medium-up--one-half">
                  <div class="field-group">
                    <div>
                      <label for="ShippingZip" class="field-label">
                        <span>{{ block.settings.busadd_label7head }}</span>&nbsp; </label>
                      <input id="ShippingZip" type="text" name="contact[Company zip]" class="textfield undefined" data-error-required="ZIP / Postal code is required" value="">
                    </div>
                  </div>
                </div>
              </div>
              <div class="field-group">
                <div>
                  <label for="ShippingPhone" class="field-label">
                    <span>{{ block.settings.busadd_label8head }}</span>&nbsp; </label>
                  <input id="ShippingPhone" type="text" name="contact[Company phone]" class="textfield undefined" data-error-required="Phone number is required" value="">
                </div>
              </div>
            </div>
          </div>
        </div>
{% endif %}
        {% endfor %}

        {% for block in section.blocks %}
          {% if block.type == 'additionalinfo' %}
        <div id="CustomFieldsSection" class="signup-form-section signup-form-section--last" data-bind-class="{'signup-form-section--active': accountSignupPage.isSectionActive('custom_fields')}" data-signup-section-name="custom_fields">
          <div class="signup-form-section__header--container">
            <div class="signup-form-section__header">
              <div class="signup-form-section__header--valid-icon">
                <div>
                  <svg width="20px" height="20px" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <title>Polaris-icon/Major/2 Tone/Circle Tick</title>
                    <desc>Created with Sketch.</desc>
                    <defs>
                      <path d="M10,0 C4.486,0 0,4.486 0,10 C0,15.514 4.486,20 10,20 C15.514,20 20,15.514 20,10 C20,4.486 15.514,0 10,0 M10,18 C5.589,18 2,14.411 2,10 C2,5.589 5.589,2 10,2 C14.411,2 18,5.589 18,10 C18,14.411 14.411,18 10,18 M12.293,7.293 L9,10.586 L7.707,9.293 C7.316,8.902 6.684,8.902 6.293,9.293 C5.902,9.684 5.902,10.316 6.293,10.707 L8.293,12.707 C8.488,12.902 8.744,13 9,13 C9.256,13 9.512,12.902 9.707,12.707 L13.707,8.707 C14.098,8.316 14.098,7.684 13.707,7.293 C13.316,6.902 12.684,6.902 12.293,7.293"></path>
                    </defs>
                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                      <circle fill="{fillColor}" cx="10" cy="10" r="9"></circle>
                      <g>
                        <mask fill="white">
                          <use xlink:href="#path-1"></use>
                        </mask>
                        <use fill="#d8d8d8" xlink:href="#path-1"></use>
                        <g mask="url(#mask-2)"></g>
                      </g>
                    </g>
                  </svg>
                </div>
              </div>
              <div class="signup-form-section__header--label">{{ block.settings.addinf_header }}</div>
              <div class="signup-form-section__header--collapse-icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" class="material material-chevron-down-icon undefined">
                  <path d="M7.41 8.58L12 13.17l4.59-4.59L18 10l-6 6-6-6 1.41-1.42z"></path>
                </svg>
              </div>
            </div>
          </div>
          <div class="signup-form-section__fields ">
            <input autocomplete="off" size="30" type="hidden" value="{{ block.settings.addinf_label1head }}" name="account[signup_questions_attributes][0][question]" id="account_signup_questions_attributes_0_question">
            <div class="field-group">
              <label class="field-label" for="account_signup_questions_attributes_0_answer">{{ block.settings.addinf_label1head }}</label>
              <input class="textfield"    size="30" type="text" name="contact[Type of business]" id="account_signup_questions_attributes_0_answer">
            </div>
            <input autocomplete="off" size="30" type="hidden" value="{{ block.settings.addinf_label2head }}" name="account[signup_questions_attributes][1][question]" id="account_signup_questions_attributes_1_question">
            <div class="field-group">
              <label class="field-label" for="account_signup_questions_attributes_1_answer">{{ block.settings.addinf_label2head }}</label>
              <input class="textfield"    size="30" type="text" name="contact[Which item are you interested in carrying?]" id="account_signup_questions_attributes_1_answer">
            </div>
            <input autocomplete="off" size="30" type="hidden" value="{{ block.settings.addinf_label3head }}" name="account[signup_questions_attributes][2][question]" id="account_signup_questions_attributes_2_question">
            <div class="field-group">
              <label class="field-label" for="account_signup_questions_attributes_2_answer">{{ block.settings.addinf_label3head }}</label>
              <input class="textfield"    size="30" type="text" name="contact[Tell us about your company]" id="account_signup_questions_attributes_2_answer">
            </div>
            <input autocomplete="off" size="30" type="hidden" value="{{ block.settings.addinf_label4head }}" name="account[signup_questions_attributes][3][question]" id="account_signup_questions_attributes_3_question">
            <div class="field-group">
              <label class="field-label" for="account_signup_questions_attributes_3_answer">{{ block.settings.addinf_label4head }}</label>
              <input class="textfield"    size="30" type="text" name="contact[Website URL]" id="account_signup_questions_attributes_3_answer">
            </div>
            <input autocomplete="off" size="30" type="hidden" value="{{ block.settings.addinf_label5head }}" name="account[signup_questions_attributes][4][question]" id="account_signup_questions_attributes_4_question">
            <div class="field-group">
              <label class="field-label" for="account_signup_questions_attributes_4_answer">{{ block.settings.addinf_label5head }}</label>
              <input class="textfield"    size="30" type="text" name="contact[Social media accounts]" id="account_signup_questions_attributes_4_answer">
            </div>
          </div>
        </div>
            {% endif %}
        {% endfor %}
   {{ 'shopify.online_store.spam_detection.disclaimer_html' | t }}
        <div class="signup-form-submit">
          <input type="submit" name="commit" value="Apply for wholesale" class="btn btn--primary">
          <span class="tooltip field-label tooltip--is-visible" data-bind-class="{'tooltip--is-visible': !accountSignupPage.formCanSubmit()}"> Check to make sure your address is correct &amp; all required fields are filled in. </span>
        </div>
      </div>
    {% endform %}
    <div class="login__options sign-form__back-button">
      <p class="field-label field-label--inline"> Already have an account? <a class="link" href="/accounts/sign_in">Log in</a>
      </p>
    </div>
  </div>
</div>


{% schema %}
  {
    "name": "Custom Form",
    "settings": [
      {
        "id":"image_logo",
        "type":"image_picker",
        "label":"Logo Picker"
      },
       {
        "id":"description_form",
        "type":"richtext",
        "label":"Under Logo Description"
      }
    ],
    "blocks": [
      {
        "name":"Additional Informations",
        "type":"additionalinfo",
        "settings": [
           {
            "type":"text",
            "id":"addinf_header",
            "label":"Section Header"
          },
          {
            "type":"text",
            "id":"addinf_label1head",
            "label":"Business Type"
          },
          {
            "type":"text",
            "id":"addinf_label2head",
            "label":"Which item you're interested in?"
          },
          {
            "type":"text",
            "id":"addinf_label3head",
            "label":"Tell us about your company"
          },
          {
            "type":"text",
            "id":"addinf_label4head",
            "label":"Website Url"
          },
          {
            "type":"text",
            "id":"addinf_label5head",
            "label":"Social Accounts"
          }
        ]
      },
       {
        "name":"Contact Details",
        "type":"contactdetails",
        "settings": [
           {
            "type":"text",
            "id":"contactdet_header",
            "label":"Section Header"
          },
          {
            "type":"text",
            "id":"contactdet_label1head",
            "label":"First Name"
          },
          {
            "type":"text",
            "id":"contactdet_label2head",
            "label":"Last Name"
          },
          {
            "type":"text",
            "id":"contactdet_label3head",
            "label":"Email address"
          }
        ]
      },
      {
        "name":"Business Address",
        "type":"businessaddress",
        "settings": [
           {
            "type":"text",
            "id":"busadd_header",
            "label":"Section Header"
          },
          {
            "type":"text",
            "id":"busadd_label1head",
            "label":"First Name"
          },
          {
            "type":"text",
            "id":"busadd_label2head",
            "label":"Last Name"
          },
          {
            "type":"text",
            "id":"busadd_label3head",
            "label":"Email address"
          },
          {
            "type":"text",
            "id":"busadd_label4head",
            "label":"Last Name"
          },
          {
            "type":"text",
            "id":"busadd_label5head",
            "label":"Last Name"
          },
          {
            "type":"text",
            "id":"busadd_label6head",
            "label":"Last Name"
          },
          {
            "type":"text",
            "id":"busadd_label7head",
            "label":"Last Name"
          },
          {
            "type":"text",
            "id":"busadd_label8head",
            "label":"Last Name"
          }
        ]
      }
    ],
    "presets": [
      {
        "name":"Custom Form"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
  input, textarea, select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 8px;
    background-color: #fff;
    border: 1px solid #bfbfbf;
    border-radius: 0;
    width: 100%;
 color: #282828;
    height: auto!important;
  }
  .field-label {
    display: inline-block;
    margin-bottom: 8px;
    font-weight: 700;
    line-height: normal;
    color: #282828;
}
  .field-group {
    margin-bottom: 20px;
}
  .login__form .btn--primary:disabled {
    background-color: #d8d8d8;
}

.login__form .btn--primary {
    margin-top: 8px;
    width: 100%;
    display: block;
}
[data-whatinput='mouse'] button, [data-whatinput='mouse'] input[type='button'], [data-whatinput='mouse'] .btn, [data-whatinput='mouse'] .link, [data-whatinput='mouse'] .product-details__description a, .product-details__description [data-whatinput='mouse'] a {
    outline: 0;
}
button[disabled], html input[disabled] {
    cursor: default;
}
  .btn--primary {
    padding: 8px 16px;
    color: #fff;
    font-weight: 700;
    line-height: 1.7142857143;
    letter-spacing: 3px;
    text-transform: uppercase;
    white-space: nowrap;
}
  input.btn.btn--primary {
    width: 100%;
}
  p[data-spam-detection-disclaimer], small {
    font-size: 0.85em;
    max-width: 300px!important;
    text-align: center!important;
    margin-left: auto!important;
    margin-right: auto!important;
    margin-top: 20px!important;
    margin-bottom: 0px!important;
}
{% endstylesheet %}

{% javascript %}
class openCloseHandler {
    allElements = document.querySelectorAll(`.signup-form-section__header--container`);

    constructor() {
        for(let elem of this.allElements) {
            elem.addEventListener("click", this.openMe.bind(this), false);
        }
    }

    openMe(e) {
        const target = e.currentTarget;
      
        //close all elements
        for(let elem of this.allElements) {
            if(elem == target) {
                continue;
            } 

            elem.classList.remove("expanded");
        }

        target.classList.add("expanded");
    }
}

window.openClose = new openCloseHandler()
{% endjavascript %}
