<div class="container mt-7 pb-7 xl:mt-15 xl:pb-15">
  <div class="login__brand">
    {% if section.settings.image_logo != blank %}
    <h1 class="login__logo">
      <img alt="sunday hug" itemprop="logo" src="{{ section.settings.image_logo | img_url: 'master' }}">
    </h1>
      {% endif %}
  </div>
  <div id="AccountSignupPage" data-define="{ accountSignupPage: new AccountSignupPage() }" class="account-signup__content">
    <h3 class="event-page text-2xl font-medium mb-2">{{ section.settings.title }}</h3>
    {% if section.settings.description_form != blank %}
    <div class="signup__content copy">
      <p> {{ section.settings.description_form }} </p>
    </div>
      {% endif %}
{% form 'contact' %}
      <input type="hidden" name="authenticity_token" autocomplete="off">
      <div id="AccountSignupForm">

    

{% for block in section.blocks %}
  {% if block.type == 'forminformation' %}
        <div id="AddressSection" class="signup-form-section " data-bind-class="{'signup-form-section--active': accountSignupPage.isSectionActive('address')}" data-signup-section-name="address">
          <div class="signup-form-section__header--container">
            <div class="signup-form-section__header">
              <div class="signup-form-section__header--valid-icon">
                <div>
                </div>
              </div>
            </div>
          </div>
          <div class="signup-form-section__fields ">
            <div>
              <div class="field-group">
                <div>
                  <label for="Name" class="field-label">
                    <label for="Name" class="field-label field-label--help">Name</label>
                  </label>
                  <input placeholder="Name" id="Name" 
    type="text" name="contact[Name]" class="textfield undefined" value="">
                </div>
              </div>
    <div class="field-group">
              <label class="field-label" for="account_email">E-mail</label>
              <input autofocus="autofocus" class="textfield email" 
               size="30" placeholder="E-mail" type="email" value="" name="contact[email]" id="account_email">
            </div>
              <div class="field-group">
                <div>

<label for="EventDate" class="field-label">Event Date</label>

<input id="EventDate" type="date" id="start" name="contact[Event Date]" data-error-required="Event Date Required">
                </div>
              </div>
              <div class="field-group together">
                <div class="together-container">
                  <div class="location-event">
                  <label for="LocationEvent" class="field-label">
                   <label for="LocationEvent" class="field-label field-label--help">Event Location</label>
                  </label>
                  <input placeholder="Event Location" id="LocationEvent" 
                    type="text" name="contact[Location of Event]" data-error-required="Location of event is required" class="textfield undefined" value="">
                  </div>
                    <div class="approx-people quantity">
                  <label for="ApproxPeople" class="field-label">Approx no. of people
                  </label>
                  <input id="ApproxPeople" type="number" name="contact[Approx no. of people]"
                    class="textfield undefined" data-error-required="Approx no. of people is required" value="1" min="1" max="100">
                    </div>
                </div>
              </div>
              <div class="field-group quantity">
                <div>
                  
                </div>
              </div>
              <div class="field-group">
                <div>
                  <div>
                    <label for="Occasion" class="field-label">{{ block.settings.busadd_label5head }}</label>
                  </div>
                  <select id="Occasion" name="contact[Occasion]" class="textfield undefined" data-error-required="Occasion is required">
                    <option value="">Select...</option>
                    <option value="Wedding">Wedding</option>
                    <option value="Pre-wedding">Pre-wedding</option>
                    <option value="Engagement">Engagement</option>
                    <option value="Proposal">Proposal</option>
                    <option value="Christening ">Christening</option>
    <option value="Birthday">Birthday</option>
    <option value="Corporate">Corporate</option>
    <option value="Dinner Party">Dinner Party</option>
    <option value="Graduation">Graduation</option>
    <option value="Eid/Ramadan">Eid/Ramadan</option>
    <option value="Other">Other</option>
                  </select>
                  <div></div>
                </div>
              </div>
              <div class="grid">
                <div class="grid__item medium-up--one-half">
                  <div class="field-group">
                    <div>
                      <div>
                        <div>
                          <label for="Theme" class="field-label">
                            <span>{{ block.settings.busadd_label6head }}</span>&nbsp; </label>
                        </div>
                        <input placeholder="Theme" id="Theme" name="contact[Theme]" class="textfield " type="text" value="">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="grid__item medium-up--one-half">
                  <div class="field-group">
                    <div>
                      <label for="Notes" class="field-label">
                        <span>{{ block.settings.busadd_label7head }}</span>&nbsp; </label>
                      <textarea placeholder="Message" rows="8" id="Notes" type="text" name="contact[Notes]" class="textfield undefined"></textarea>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
{% endif %}
        {% endfor %}

   {{ 'shopify.online_store.spam_detection.disclaimer_html' | t }}
        <div class="signup-form-submit">
          <input type="submit" name="commit" value="Contact Event Styling" class="sf__btn sf__btn-primary">
      
        </div>
      </div>
    {% endform %}
  </div>
</div>


{% schema %}
  {
    "name": "Custom Form",
    "settings": [
      {
        "id":"image_logo",
        "type":"image_picker",
        "label":"Logo Picker"
      },
       {
        "id":"description_form",
        "type":"richtext",
        "label":"Under Logo Description"
      },
       {
        "id":"title",
        "type":"text",
        "label":"Heading Desc"
      }
      
    ],
    "blocks": [
      {
        "name":"Form Information",
        "type":"forminformation",
        "settings": [
           {
            "type":"text",
            "id":"busadd_header",
            "label":"Section Header"
          },
          {
            "type":"text",
            "id":"busadd_label1head",
            "label":"Name"
          },
          {
            "type":"text",
            "id":"busadd_label2head",
            "label":"Date of Event"
          },
          {
            "type":"text",
            "id":"busadd_label3head",
            "label":"Location of event"
          },
          {
            "type":"text",
            "id":"busadd_label4head",
            "label":"Approx. no of people"
          },
          {
            "type":"text",
            "id":"busadd_label5head",
            "label":"Occasion"
          },
          {
            "type":"text",
            "id":"busadd_label6head",
            "label":"Theme"
          },
          {
            "type":"text",
            "id":"busadd_label7head",
            "label":"Notes"
          }
        ]
      }
    ],
    "presets": [
      {
        "name":"Custom Form"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
  input, textarea, select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 8px;
    background-color: #fff;
    border: 1px solid #bfbfbf;
    border-radius: 0;
    width: 100%;
 color: #992c3c;
    height: auto!important;
  }
  .field-label {
    display: inline-block;
    margin-bottom: 8px;
    font-weight: 700;
    line-height: normal;
    color: #282828;
}
  .field-group {
    margin-bottom: 20px;
}
  .login__form .btn--primary:disabled {
    background-color: #d8d8d8;
}

.login__form .btn--primary {
    margin-top: 8px;
    width: 100%;
    display: block;
}
[data-whatinput='mouse'] button, [data-whatinput='mouse'] input[type='button'], [data-whatinput='mouse'] .btn, [data-whatinput='mouse'] .link, [data-whatinput='mouse'] .product-details__description a, .product-details__description [data-whatinput='mouse'] a {
    outline: 0;
}
button[disabled], html input[disabled] {
    cursor: default;
}
  .btn--primary {
    padding: 8px 16px;
    color: #fff;
    font-weight: 700;
    line-height: 1.7142857143;
    letter-spacing: 3px;
    text-transform: uppercase;
    white-space: nowrap;
}
  input.btn.btn--primary {
    width: 100%;
}
  p[data-spam-detection-disclaimer], small {
    font-size: 0.85em;
    max-width: 300px!important;
    text-align: center!important;
    margin-left: auto!important;
    margin-right: auto!important;
    margin-top: 20px!important;
    margin-bottom: 0px!important;
}
.login {
  margin: 0 auto;
    max-width: 1000px;
    width: 100%;
}
.login__brand {
    min-height: 100px;
    width: 100%;
    display: flex;
  justify-content: center;
    padding: 20px 40px;
}
.signup-form-section__header {
    padding-bottom: 30px;
}
.signup__content {
    margin-bottom: 20px;
    text-align: center;
    margin-top: 20px;
}
  @media (min-width: 1004px){
  .signup__content {
      padding-left: 40px;
    padding-right: 40px;}
  }
.login__form {
    margin-bottom: 16px;
    padding-top: 8px;
}
@media (min-width: 1004px){
.signup-form-section, h3.event-page.text-2xl.font-medium.mb-2, .signup-form-submit {
    padding-left: 40px;
    padding-right: 40px;}
}
.signup-form-section--last {
    border-bottom: 1px solid rgb(216, 216, 216);
}
.signup-form-section--active .signup-form-section__fields,
.signup-form-section--active .signup-form-section__fields,
.signup-form-section__fields{
    height: auto;
    padding-bottom: 30px;
    transition: max-height 2.15s ease-out 0s;
}
  .field-label {
    margin-bottom: 8px;
    font-weight: 400;
    line-height: normal;
    color: #393939;
}
.signup-form-submit {

    padding-top: 40px;
}
.login__options {
    display: flex;
    flex-wrap: wrap;
}
.sign-form__back-button {
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    padding-top: 20px;
    font-size: 1.3rem;
}
  div#shopify-section-template--16665352175932__86346bbf-79c6-4b74-9652-3393a2163a66 {
    margin-right: 2rem;
    margin-left: 2rem;
}
  .quantity {
position: relative;
}
.location-event {
    width: 60%;
}
  .approx-people.quantity {
    width: 40%;
    margin-left: 3rem;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
{
-webkit-appearance: none;
margin: 0;
}

input[type=number]
{
-moz-appearance: textfield;
}


.quantity input:focus {
outline: 0;
}

.quantity-nav {
float: right;
position: relative;
height: 42px;
}

.quantity-button {
position: relative;
cursor: pointer;
border-left: 1px solid #eee;
width: 20px;
text-align: center;
color: #333;
font-size: 13px;
font-family: "Trebuchet MS", Helvetica, sans-serif !important;
line-height: 1.7;
-webkit-transform: translateX(-100%);
transform: translateX(-100%);
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
-o-user-select: none;
user-select: none;
}

.quantity-button.quantity-up {
position: absolute;
height: 50%;
top: 0;
border-bottom: 1px solid #eee;
}

.quantity-button.quantity-down {
position: absolute;
bottom: 3px;
height: 50%;
}
  .together-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
  h3.event-page.text-2xl.font-medium.mb-2 {
    margin-bottom: 20px;
    text-align: center;
    margin-top: 20px;
}
  div#AccountSignupForm {
    max-width: 800px;
    margin: 0 auto;
}
{% endstylesheet %}

{% javascript %}
  jQuery('<div class="quantity-nav"><div class="quantity-button quantity-up">+</div><div class="quantity-button quantity-down">-</div></div>').insertAfter('.quantity input');
    jQuery('.quantity').each(function() {
      var spinner = jQuery(this),
        input = spinner.find('input[type="number"]'),
        btnUp = spinner.find('.quantity-up'),
        btnDown = spinner.find('.quantity-down'),
        min = input.attr('min'),
        max = input.attr('max');

      btnUp.click(function() {
        var oldValue = parseFloat(input.val());
        if (oldValue >= max) {
          var newVal = oldValue;
        } else {
          var newVal = oldValue + 1;
        }
        spinner.find("input").val(newVal);
        spinner.find("input").trigger("change");
      });

      btnDown.click(function() {
        var oldValue = parseFloat(input.val());
        if (oldValue <= min) {
          var newVal = oldValue;
        } else {
          var newVal = oldValue - 1;
        }
        spinner.find("input").val(newVal);
        spinner.find("input").trigger("change");
      });

    });
  
{% endjavascript %}
